
<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<!-- link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/Background">Background</a></li>
<li><a href="/Software">Software</a></li>
<li><a href="/Publications">Publications</a></li>
<li><a href="/Projects">Projects</a></li>
</ul>
</nav>
<div class="container">

{{ content }}

</div><!-- /.container -->
<footer>
<ul>
<li>
  <a class="twitter-follow-button" href="https://twitter.com/npontikos">Follow @npontikos</a>
</li>
<li>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/pontikos" data-count-href="/pontikos/followers" data-count-api="/users/pontikos#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @pontikos on GitHub">Follow @pontikos</a>
<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</li>
<li>
  <a href="https://uk.linkedin.com/pub/nikolas-pontikos/5/11a/401" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Nikolas Pontikos's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View Nikolas Pontikos's profile</span></a>
  </li>
</ul>
</footer>
</body>
</html>

