
<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<!-- link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script>
  window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));
</script>
</head>
<body>
<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/Background">Background</a></li>
<!-- <li><a href="/Research">Research</a></li> -->
<li><a href="/Team">Team</a></li>
<!-- <li><a href="/Software">Software</a></li> -->
<li><a href="/Publications">Publications</a></li>
<!-- <li><a href="/Blogs">Blogs</a></li> -->
</ul>
</nav>
<div class="container">

{{ content }}

</div><!-- /.container -->
<footer>
<ul>
<li>
  <a href="http://orcid.org/0000-0003-1782-4711">ORCID</a>
</li>
<li>
  <a class="twitter-follow-button" href="https://twitter.com/npontikos">Follow @npontikos</a>
</li>
<li>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/pontikos" data-count-href="/pontikos/followers" data-count-api="/users/pontikos#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @pontikos on GitHub">Follow @pontikos</a>
<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</li>
<li>
  <a href="https://uk.linkedin.com/pub/nikolas-pontikos/5/11a/401">
          <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_greytxt_80x15.png" width="80" height="15" border="0" alt="View Nikolas Pontikos's profile on LinkedIn">
  </a>
</li>
</ul>
</footer>
</body>
</html>

