
<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<!-- link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/Software">Software</a></li>
<li><a href="/Publications">Publications</a></li>
<li><a href="/Projects">Projects</a></li>
</ul>
</nav>
<div class="container">

{{ content }}

</div><!-- /.container -->
<footer>
<ul>
<li><a href="mailto:n.pontikos@gmail.com">email</a></li>
<li><a href="https://github.com/ponitkos">github.com/pontikos</a></li>
</ul>
</footer>
</body>
</html>

